table {
    border-collapse: collapse;
    width: 800px;
}

table td,
table th {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

body {
    font-family: sans-serif;
}

table caption {
    caption-side: bottom;
    text-align: right;
    font-style: italic;
    font-size: 12px;
    margin: 5px 0px;
}

tfoot td,
table th {
    background: #ddd;
}

tfoot td {
    font-style: italic;
}

.responsive-table {
    max-width: 100%;
    overflow-x: auto;
}