* {
    margin: 0;
    padding: 0;
}

div {
    color: initial;
    margin-left: 20px;
}

/* seletor direto de algo - neste exemplo quer selecionar o filho diretamente do pai*/
.pai>.filho {
    color: red;
}

.pai>.filho>span>.filho {
    color: red;
}